{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid barreListeCat">
        <div class = "row">

            <ul class="list-unstyled d-flex justify-content-center mt-4">
                <li>
                    <p>Instruments à cordes</p>
                </li>
                <li>
                    <p>Instruments à vent</p>
                </li>
                <li>
                    <p>Instruments à percussion</p>
                </li>
                <li>
                    <p>Claviers et pianos</p>
                </li>
                <li>
                    <p>Instruments de musique électronique</p>
                </li>
                <li>
                    <p>Instruments traditionnels</p>
                </li>
                <li>
                    <p>Accessoires</p>
                </li>
                <li>
                    <p>Equipements audio et enregistrement</p>
                </li>
            </ul>

        </div>
    </div>

    <div class="container-fluid">

    <h1>Nos catégories</h1>

        {% for categorie in categories %}

            <img src="{{ asset ('img/categories/' ~ categorie.ImageCat) }}" alt="{{ categorie.NomCat }}">
            <p>{{ categorie.NomCat }}</p>

        {% endfor %}

    </div>

    <div class="container">
        <h1>Nos produits vedettes</h1>

        {% for article in articles %}

            <img src="{{ asset ('img/articles/' ~ article.PhotoArt) }}" alt="{{ article.NomArt }}">
            <p>{{ article.salesCount }}</p>

        {% endfor %}

    </div>

    <div class="container">
        <h1>Nos marques vedettes</h1>
    </div>





{% endblock %}
